* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    height: 70px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
}

a,
.subtitle {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
    padding-bottom: 4px;
    /* Border bottom with transparency to stop page elements moving when border is applied on hover*/
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

a:hover {
    border-bottom: 2px solid #fff;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 100px 10%;
    gap: 40px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.right {
    display: flex;
    justify-content: center;
}

.main-title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-img {
    width: 400px;
}

button {
    color: #fff;
    font-weight: bold;
    background-color: #3882f6;
    padding: 10px 32px;
    border-radius: 8px;
    border: 2px solid #3882f6;
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: #fff;
}

.info {
    display: flex;
    justify-content: center;
    padding: 100px 10%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.items {
    display: flex;
    text-align: center;
    gap: 40px;
}

.item {
    padding: 12px;
}

.item p {
    margin-top: 14px;
    color: #6d6d6d;
}

.one,
.two,
.three,
.four {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}

.one{
    background-image: url(./img/undraw_design_data_re_0s26.svg);
}
.two{
    background-image: url(./img/undraw_file_manager_re_ms29\ \(1\).svg);
}
.three{
    background-image: url(./img/undraw_ideas_re_7twj.svg);
}
.four{
    background-image: url(./img/undraw_my_password_re_ydq7.svg);
}

.quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 10%;
}
.quote-text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
}
.quote-author {
    font-weight: bold;
    display: flex;
    justify-content: end;
}

.cta {
    margin: 100px 10%;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 36px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text {
    color: #f9faf8;
}

.cta-text p {
    font-size: 12px;
}

.inverse-btn {
    color: #fff;
    font-weight: bold;
    background-color: #3882f6;
    padding: 10px 32px;
    border-radius: 8px;
    border: 2px solid #fff;
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
}

.inverse-btn:hover{
    background-color: #fff;
    color: #3882f6;
}

footer {
    background-color: #1f2937;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #f9faf8;
    font-size: 12px;
}